<h1>Listing photos</h1>

<table>
  <thead>
    <tr>
      <th>Media</th>
      <th>Url</th>
      <th>Low</th>
      <th>High</th>
      <th>Thumb</th>
      <th>Score</th>
      <th>Filter</th>
      <th>Created at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @photos.each do |photo| %>
      <tr>
        <td><%= photo.media_id %></td>
        <td><%= photo.url %></td>
        <td><%= photo.low %></td>
        <td><%= photo.high %></td>
        <td><%= photo.thumb %></td>
        <td><%= photo.score %></td>
        <td><%= photo.filter %></td>
        <td><%= photo.created_at %></td>
        <td><%= link_to 'Show', photo %></td>
        <td><%= link_to 'Edit', edit_photo_path(photo) %></td>
        <td><%= link_to 'Destroy', photo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Photo', new_photo_path %>
